{% set photo = __SELF__.photo %}

{% if photo.title %}
    <h1>{{ photo.title }}</h1>
{% endif %}
<div class="photo-image row">
    <div class="col-xs-12">
        <img
                data-src="{{ photo.image.filename }}"
                src="{{ photo.image.path }}"
                style="max-width: 100%" />
    </div>
</div>
{% if photo.description %}
    <div class="photo-description row">
        <div class="col-xs-12">
            {{ photo.description | raw }}
        </div>
    </div>
{% endif %}
