<div class="albums-list row">
    {% for album in __SELF__.albums %}
        <div class="album-preview col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <h3><a href="{{ album.url }}">{{ album.title }}</a></h3>
            <a href="{{ album.url }}">
                <img
                    data-src="{{ album.latestPhoto.thumb }}"
                    src="{{ album.latestPhoto.thumb }}"
                    style="max-width: 100%" />
            </a>
            Created on {{ album.created_at|date('M d, Y') }}
            {{ album.photo_count }} images
        </div>
    {% else %}
        <div class="col-xs-12 no-data">You have not created any albums yet</div>
    {% endfor %}
</div>

{% if __SELF__.lastPage > 1 %}
<ul class="pagination">
    {% if __SELF__.currentPage > 1 %}
    <li><a href="{{ this.page.baseFileName|page }}?page={{ __SELF__.currentPage-1 }}">&larr; Prev</a></li>
    {% endif %}

    {% for page in 1..__SELF__.lastPage %}
    <li class="{{ __SELF__.currentPage == page ? 'active' : null }}">
        <a href="{{ this.page.baseFileName|page }}?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if __SELF__.lastPage > __SELF__.currentPage %}
    <li><a href="{{ this.page.baseFileName|page }}?page={{ __SELF__.currentPage+1 }}">Next &rarr;</a></li>
    {% endif %}
</ul>
{% endif %}
